* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
    display: grid;
    height: 600px;
    grid-template-columns: 60% 1fr;
    grid-template-rows: 100px 2fr 1fr;
}
header {
    grid-column: 1/4;
    text-align: center;
    background-color: darkkhaki;
}
section {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 2fr 1fr 1fr 5px;
    align-content: flex-end;
    justify-content: center;
    gap: 1rem;
}
aside {
    grid-row: 2/3;
    grid-column: 2/3;
   background-color: darksalmon;
   text-align: center;
}
span {
    grid-column: 1/3;
    text-align: center;
}
.box1 {
grid-area: 3/1/4/3;
background-color: blueviolet;
}
.box {
    background-color: blueviolet;
}
footer {
    display: grid;
    grid-column: 1/4;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    align-items:center;
    justify-items:center;
    background-color: darkkhaki;
}
.foot {
background-color: aqua;
}